# LaTeX output
*.aux
*.bcf
*.lot
*.glo
*.lof
*.log
*.out
*.run.xml
*.toc
*.xdy
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.synctex.gz

# tikz results (should be in figures/)
tikz/*.pdf

# svg converted to pdf (should be in figures/)
svg/*.pdf

# our own pdf file
METIS_DRLD.pdf

# emacs directory
auto/
*~
/figures/metis_lm_sci_modules.png

# pycharm files
.idea/
__pycache__/

# vscode and vim
.vscode/
.*.swp
.*.swo
